<div class="mb-3" >
    <label for="region" class="form-label">Regiones</label>
    <select id="region-select" class="form-select form-select-sm mb-3" >
        <option value=" " selected>Seleccione Region</option>
        <option value="{{ region.id }}" *ngFor="let region of regiones">{{ region.nombre }}</option>
    </select>        
</div> 

<div class="mb-3" >
    <label for="region" class="form-label">Comunas</label>
    <select id="comunas" class="form-select form-select-sm mb-3">
        <option selected> Seleccione Comuna </option>
        <option value="comuna" *ngFor="let comuna of comunas">{{ comuna }}</option>
    </select>        
</div>